<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="sidebar">
<h2>CRM</h2>
<a>Dashboard</a>
<a>Clients</a>
</div>

<div class="main">

<div class="topbar">
<h2 id="crmName">Sky Links Capital</h2>
<button onclick="editName()">Edit</button>
</div>

<!-- ADD CLIENT -->
<form action="/add" method="post">
<input name="name" placeholder="Name">
<input name="email" placeholder="Email">
<button>Add Client</button>
</form>

<table>
<tr>
<th>Name</th>
<th>Email</th>
<th>Action</th>
</tr>

{% for client in clients %}
<tr>
<td>{{ client.name }}</td>
<td>{{ client.email }}</td>
<td>
<a href="/edit/{{ client.id }}">Edit</a>
<a href="/delete/{{ client.id }}">Delete</a>
</td>
</tr>
{% endfor %}

</table>

</div>

<script>
function editName(){
let name = prompt("Enter CRM Name:");
if(name){
document.getElementById("crmName").innerText = name;
}
}
</script>

</body>
</html>

